$primary-color: #558ed5;
$default-color: #fff;
$dark-blue-color: #16619c;

$header-height: 60px;
$min-width: 320px;
$desktop-width: 992px;
$tablet-width: 768px;
$phone-width: 576px;
$extra-small-phone-width: 360px;
$ipad-witdth: 1024px;

$side-menu-width: 300px;
$minimum-side-menu-width: 250px;

@mixin header-text {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 10px;
}

@mixin header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #000;
}
